{% extends 'layout.html.twig' %}
{% set page = 'home' %}

{% block title %}Wild Circus{% endblock %}

{% block body %}
    <div class="background-img img-fluid d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="mx-5">Bienvenue au Wild Circus !</h1>
            <h4 class="mx-3">Lorem ipsum dolor sit amet, consectetur. Aperiam blanditiis commodi deleniti ea !</h4>
        </div>
    </div>

    <main class="text-center py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p align="justify">quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                        deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                        laborum.</p>
                </div>
                <div class="col-md-12">
                    <a href="{{ path('circus_index') }}" class="btn btn-primary m-3 box-shadow">Les campus circus</a>
                    <a href="{{ path('spectacle_index') }}" class="btn btn-primary m-3 box-shadow">Les spectacles</a>
                </div>
            </div>
        </div>

    </main>
{% endblock %}
