$first-color : #99DEDF;
$primary-color : #E45865;
$secondary-color : #FCD06B;
$light-color : #F7F6EE;
$dark-color : #393D50;
$dark-primary : #E40C41;

@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
$title-font: 'Bree Serif', serif;

@import url('https://fonts.googleapis.com/css?family=Cantarell:400,400i,700,700i&display=swap');
$text-font: 'Cantarell', sans-serif;

$photo-hue:rgba(0,0,0,.5);
